<% if(message != "") {  %>
    <section id="message">
        <p><%= message %></p> <span id="close">&times;</span>
    </section>
  <% } %>

<header>
    <h2>Massonetto Biblioteca</h2>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/create">Criar</a></li>
        </ul>
    </nav>
</header>